{% extends 'base.html' %}


{% block content %}

<style>
  body {
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);  
  }

  h3 {
    color: #fff;
  }

  h6 {
    color: rgb(174, 174, 174);
  }
</style>


<section id="movies" class="p-3">

  <div id="latest-movies" class="mt-4 mb-4">
    <h3>All Movies</h3>
    
    <div class="d-flex flex-row pt-3 pb-3" style="gap: 20px; overflow-x: auto;">

      {% for movie in movies %}
      <div class="col-3">
        <div class="card text-bg-dark">
          <img src="{{ movie.poster }}" class="card-img standard-image" alt="..." style="aspect-ratio: 16/9; width: 100%;">
          <div class="card-img-overlay">
            <h5 class="card-title">{{movie.title}}</h5>
            <a href="{% url 'movies-individual' movie.id %}" class="btn btn-primary">&#x23F5;            </a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>

  </div>

  <div id="continue-watching" class="mt-4 mb-4">
    <h3>Continue Watching</h3>
    
    <div class="d-flex flex-row pt-3 pb-3" style="gap: 20px; overflow-x: auto;">


      {% for movie in continue_watching %}
      <div class="col-3">
        <div class="card text-bg-dark">
          <img src="{{ movie.poster }}" class="card-img standard-image" alt="..." style="aspect-ratio: 16/9; width: 100%;">
          <div class="card-img-overlay">
            <h5 class="card-title">{{movie.title}}</h5>
            <a href="{% url 'movies-individual' movie.id %}" class="btn btn-primary">&#x23F5;            </a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>

  </div>

  <div id="recommended" class="mt-4 mb-4">
    <h3>Recommended for you</h3>
    <div class="d-flex flex-row pt-3 pb-3" style="gap: 20px; overflow-x: auto;">
      {% for movie in content_recommended %}
      <div class="col-3">
        <div class="card text-bg-dark">
          <img src="{{ movie.poster }}" class="card-img standard-image" alt="..." style="aspect-ratio: 16/9; width: 100%;">
          <div class="card-img-overlay">
            <h5 class="card-title">{{movie.title}}</h5>
            <a href="{% url 'movies-individual' movie.id %}" class="btn btn-primary">&#x23F5;            </a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>


  {% for dict_item in item_recommended %}
  <div id="custom" class="mt-4 mb-4">
    {% for key, value in dict_item.items %}
    <h3>Recommended for you</h3>
    <h6>Because you have watched {{ key }}</h6>
    <div class="d-flex flex-row pt-3 pb-3" style="gap: 20px; overflow-x: auto;">
      {% for movie in value %}
      <div class="col-3">
        <div class="card text-bg-dark">
          <img src="{{ movie.poster }}" class="card-img standard-image" alt="..." style="aspect-ratio: 16/9; width: 100%;">
          <div class="card-img-overlay">
            <h5 class="card-title">{{movie.title}}</h5>
            <a href="{% url 'movies-individual' movie.id %}" class="btn btn-primary">&#x23F5;            </a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
    {% endfor %}
  </div>
  {% endfor %}

</section>




{% endblock content %}