{% extends 'base.html' %}


{% block content %}

<style>
  body {
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);  
  }

  h3 {
    color: #fff;
  }
</style>


<section id="movies" class="p-3">

  <div id="latest-movies" class="mt-4 mb-4">
    <h3>Latest Movies</h3>
    
    <div class="d-flex flex-row pt-3 pb-3" style="gap: 20px; overflow-x: auto;">

      <div class="col-3">
        <div class="card text-bg-dark">
          <img src="https://cdn.dribbble.com/userupload/9166526/file/original-47f10e55c25f315c4a917ca9e35548aa.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Peaky Blinders</h5>
            <a href="{% url 'movies-individual' 0 %}" class="btn btn-primary">&#x23F5;            </a>
          </div>
        </div>


      </div>

      <div class="col-3">
        <div class="card text-bg-dark">
          <img src="https://cdn.dribbble.com/userupload/9166526/file/original-47f10e55c25f315c4a917ca9e35548aa.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Peaky Blinders</h5>
          </div>
        </div>


      </div>
      <div class="col-3">
        <div class="card text-bg-dark">
          <img src="https://cdn.dribbble.com/userupload/9166526/file/original-47f10e55c25f315c4a917ca9e35548aa.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Peaky Blinders</h5>
          </div>
        </div>


      </div>
      <div class="col-3">
        <div class="card text-bg-dark">
          <img src="https://cdn.dribbble.com/userupload/9166526/file/original-47f10e55c25f315c4a917ca9e35548aa.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Peaky Blinders</h5>
          </div>
        </div>


      </div>
      <div class="col-3">
        <div class="card text-bg-dark">
          <img src="https://cdn.dribbble.com/userupload/9166526/file/original-47f10e55c25f315c4a917ca9e35548aa.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Peaky Blinders</h5>
          </div>
        </div>


      </div>

    </div>

  </div>

  <div id="continue-watching" class="mt-4 mb-4">
    <h3>Continue Watching</h3>
    
    <div class="d-flex flex-row pt-3 pb-3" style="gap: 20px; overflow-x: auto;">

      <div class="col-3">
        <div class="card text-bg-dark">
          <img src="https://cdn.dribbble.com/userupload/9166526/file/original-47f10e55c25f315c4a917ca9e35548aa.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Peaky Blinders</h5>
          </div>
        </div>


      </div>

      <div class="col-3">
        <div class="card text-bg-dark">
          <img src="https://cdn.dribbble.com/userupload/9166526/file/original-47f10e55c25f315c4a917ca9e35548aa.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Peaky Blinders</h5>
          </div>
        </div>


      </div>
      <div class="col-3">
        <div class="card text-bg-dark">
          <img src="https://cdn.dribbble.com/userupload/9166526/file/original-47f10e55c25f315c4a917ca9e35548aa.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Peaky Blinders</h5>
          </div>
        </div>


      </div>
      <div class="col-3">
        <div class="card text-bg-dark">
          <img src="https://cdn.dribbble.com/userupload/9166526/file/original-47f10e55c25f315c4a917ca9e35548aa.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Peaky Blinders</h5>
          </div>
        </div>


      </div>
      <div class="col-3">
        <div class="card text-bg-dark">
          <img src="https://cdn.dribbble.com/userupload/9166526/file/original-47f10e55c25f315c4a917ca9e35548aa.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Peaky Blinders</h5>
          </div>
        </div>


      </div>

    </div>

  </div>

  <div id="recommended" class="mt-4 mb-4">
    <h3>Recommended for you</h3>
    
    <div class="d-flex flex-row pt-3 pb-3" style="gap: 20px; overflow-x: auto;">

      <div class="col-3">
        <div class="card text-bg-dark">
          <img src="https://cdn.dribbble.com/userupload/9166526/file/original-47f10e55c25f315c4a917ca9e35548aa.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Peaky Blinders</h5>
          </div>
        </div>


      </div>

      <div class="col-3">
        <div class="card text-bg-dark">
          <img src="https://cdn.dribbble.com/userupload/9166526/file/original-47f10e55c25f315c4a917ca9e35548aa.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Peaky Blinders</h5>
          </div>
        </div>


      </div>
      <div class="col-3">
        <div class="card text-bg-dark">
          <img src="https://cdn.dribbble.com/userupload/9166526/file/original-47f10e55c25f315c4a917ca9e35548aa.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Peaky Blinders</h5>
          </div>
        </div>


      </div>
      <div class="col-3">
        <div class="card text-bg-dark">
          <img src="https://cdn.dribbble.com/userupload/9166526/file/original-47f10e55c25f315c4a917ca9e35548aa.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Peaky Blinders</h5>
          </div>
        </div>


      </div>
      <div class="col-3">
        <div class="card text-bg-dark">
          <img src="https://cdn.dribbble.com/userupload/9166526/file/original-47f10e55c25f315c4a917ca9e35548aa.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Peaky Blinders</h5>
          </div>
        </div>


      </div>

    </div>

  </div>

</section>




{% endblock content %}